* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    word-wrap: break-word;
}

*:not(.noTransition) {
    transition: all 0.2s;
}

html,
body {
    user-select: none;
    -webkit-user-select: none;
    font-family: $text-font;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2em;
}

li,
ol,
ul {
    list-style-position: inside;
    margin: 0 0 0 0.4em;
    padding: 0;
}

::selection {
    background: rgba(222, 98, 98, 0.8);
    color: #FFF;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@for $header from 1 through 6 {
    h#{$header} {
        font-weight: bold;
        font-size: 1em + (6 - $header) * 0.1em; // line-height: 1.5em + (6 - $header) * 0.2em; // margin: 0.5em 0;
        line-height: 1.2em;
    }
}

img {
    // user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

hr {
    background-color: #D4D4D4;
    border: 0px;
    clear: both;
    color: #D4D4D4;
    height: 0.5px;
    margin-bottom: 0;
}

// ----- scrollbar -----
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 0 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.0);
    border-width: 0 0 0 1px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.3)
}
